<!-- Este es un archivo de respaldo para restaurar el contenido perdido -->
<tr class="parrafo">
    <td colspan="2" height="21" style="padding-left: 50px;" valign=middle>1.5.- Que la institución de crédito Scotiabank Inverlat, S.A., Institución de Banca Múltiple, Grupo Financiero Scotiabank Inverlat, 
        División Fiduciaria, por virtud del <b><u>Contrato de Fideicomiso de Administración de Inmueble con Reserva del Derecho de Reversión identificado bajo el número 1451028292</u></b>, 
        contenido en la Escritura Pública No. 15,745 (quince mil setecientos cuarenta y cinco) de fecha 20 (veinte) del mes de febrero del año 2017 (dos mil diecisiete), 
        pasada ante la fe del Licenciado Ignacio Gerardo Martínez González, Titular de la Notaría Pública número 75 (setenta y cinco) con ejercicio en el 
        Primer Distrito Registral en el Estado e inscrito ante el Registro Público de la Propiedad y del Comercio en el Estado, bajo el número 3240 (tres mil doscientos cuarenta), 
        volumen 297 (doscientos noventa y siete), libro 130 (ciento treinta), sección Propiedad, Unidad Monterrey, de fecha 05 (cinco) de abril de 2017 (dos diecisiete), 
        es la legítima propietaria y poseedora del inmueble en donde se encuentra el proyecto inmobiliario mixto denominado "Semillero Purísima", 
        ubicado en la Calle Padre Mier No. 653 (seiscientos cincuenta y tres), Colonia Centro, C.P. 64000, en el municipio de 
        Monterrey, Nuevo León, México con una superficie de 3,432.48 m2 (tres mil cuatrocientos treinta y dos punto cuarenta y ocho metros cuadrados).</td>
</tr>
<tr class="parrafo">
    <td colspan="2" height="21" style="padding-left: 50px;" valign=middle>1.6.- Que su representada tiene la autorización expresa tanto de la Fiduciaria referida con antelación, como de los inversionistas de dicho Fideicomiso, 
        así como las facultades necesarias para llevar a cabo la celebración del presente Contrato, según se desprenden del Contrato de Arrendamiento y del Contrato de 
        Administración de Inmuebles "Pool de Rentas" que tiene celebrados con los inversionistas del referido fideicomiso; facultades todas las anteriores que se tienen por insertadas 
        al presente documento.</td>
</tr>
<tr class="parrafo">
    <td colspan="2" height="21" style="padding-left: 50px;" valign=middle>1.7.- Que el proyecto inmobiliario "Semillero Purísima" cuenta con una zona comercial y una habitacional (en lo sucesivo se denominará como el "Centro Comercial").</td>
</tr>
